<% content_for :top_content do %>
  <div class="center jumbotron">
    <div class="container">
      <h1>Help</h1>
      <div class="container">
        <p><h2>Contact Number : 9375448136</h2>
          <h2>Address : Office No. 101 to 104, 1st Floor, Elite Premio, Balewadi Gaon, Balewadi, Pune, Maharashtra 411045</h2>
          <h2>Support Email : rashneetforsampleapp@gmail.com</h2>
          <%= link_to 'Back', root_path , class: 'btn btn-primary btn-sm' %>
        </p>
      </div>
    </div>
  </div>
<% end %>