  <div class="center jumbotron">
    <div class="container">
      <h1>Welcome to BookMyShow</h1>
      <h2>This is the home page</h2>
      <p>
      <% if !user_signed_in? %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-sm' %>
      <% end %>
      </p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Summary</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td><%= movie.name %></td>
              <td><%= movie.summary %></td>
              <td><%= movie.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>