<p>Hello <%= @email %>!</p>

<p>You have requested to activate your account. You can do this through the link below.</p>

<p><%= link_to 'Activate Account', activate_user_account_users_url(email: @email) %></p>

<p>If you didn't request this, please ignore this email.</p>