<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
     <h1><%= @movie_name %></h1> has released!. Check BookMyShow to book tickets in nearby theatres!
    </p>
   
    
    </body>
  </body>
</html>