<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Welcome to BookMyShow.
    </p>
    <p>
    Thank You for signing up!Your account has been activated and you can now login and book tickets!
    </p>
  </body>
</html>