<p>
  <strong>Show ID:</strong>
  <%= @ticket.show_id %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @ticket.total_cost %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @ticket.num_seats_bought %>
</p>

<%= link_to 'Back', movies_path %>
